<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="MemberEntity" type="com.website.entity.MemberEntity"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/website/dao/member/Member.xml" />
	</mappers>
</configuration>	
